html, body, main
  align-items center
  color #444
  display flex
  flex-wrap wrap
  font-weight 700
  height 100vh
  justify-content center
  overflow hidden
  width 100vw

ul
  margin 0
  padding 0

form
  
  > *
    display block
    margin 10px 0
